.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  --slds-c-tabs-item-color-border: #1c1c1c;
  --slds-c-tabs-item-color-border-active: #1c1c1c;
  --slds-c-tabs-item-color-border-hover: #1c1c1c;
  --slds-c-tabs-item-spacing-block-end: 1.5%;
  --slds-c-tabs-item-spacing-block-start: 1.5%;
}

@font-face {
  font-family: "Swiss_Bold";
  src: url("/resource/Swiss/_MI_Swiss721BT-BoldCondensed.otf")
    format("TrueType");
}

@font-face {
  font-family: "Proxima_Nova_Bold";
  src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Bold.otf")
    format("TrueType");
}

@font-face {
  font-family: "Proxima_Nova_Regular";
  src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Regular.otf")
    format("TrueType");
}

.body-bold {
  font-family: Proxima_Nova_Bold;
  font-size: 16px;
  line-height: 24px;
}

.small-body {
  font-family: Proxima_Nova_Regular;
  font-size: 12px;
  color: #b84c16;
}
