.tab-button {
  --slds-c-button-spacing-block-start: 10px;
  --slds-c-button-spacing-block-end: 10px;
  --slds-c-button-brand-color-background: #ffffff;
  --slds-c-button-brand-color-background-active: #ffffff;
  --slds-c-button-brand-color-background-hover: #ffffff;
  --slds-c-button-brand-color-border: #d2d2d2;
  --slds-c-button-brand-color-border-active: #1c1c1c;
  --slds-c-button-brand-color-border-hover: #1c1c1c;
  --slds-c-button-brand-text-color: #1c1c1c;
  --slds-c-button-brand-text-color-active: #1c1c1c;
  --slds-c-button-brand-text-color-hover: #1c1c1c;
  --slds-c-button-shadow-focus: 0 0 0px;
  --slds-c-button-sizing-border: 1px;
  --slds-c-button-radius-border: 0%;
  font-family: Proxima_Nova_Regular;
  font-size: 12px;
  font-weight: 10;
}
