.dropdown-button {
  --slds-c-button-brand-color-border: #d2d2d2;
  --slds-c-button-brand-color-border-active: #1c1c1c;
  --slds-c-button-brand-color-border-hover: #1c1c1c;
  --slds-c-button-brand-color-background: #ffffff;
  --slds-c-button-brand-color-background-active: #ffffff;
  --slds-c-button-brand-color-background-hover: #ffffff;
  --slds-c-button-spacing-block-end: 10px;
  --slds-c-button-spacing-block-start: 10px;
  --slds-c-button-brand-text-color: black;
  --slds-c-button-brand-text-color-hover: black;
  --slds-c-button-brand-text-color-active: black;
  --slds-c-button-shadow-focus: 0px 0px 0px;
}

input {
  --slds-c-input-color-border: #d2d2d2;
  --slds-c-input-color-border-focus: #1c1c1c;
  --slds-c-input-color-background: #ffffff;
  --slds-c-input-color-background-focus: #ffffff;
  --slds-c-input-shadow-focus: 0px 0px 0px;
}

.list-button {
  --slds-c-button-color-border: #f4f4f4;
  --slds-c-button-color-border-active: #f4f4f4;
  --slds-c-button-color-border-hover: #f4f4f4;
  --slds-c-button-color-background: #f4f4f4;
  --slds-c-button-color-background-active: #f4f4f4;
  --slds-c-button-color-background-hover: #f4f4f4;
  --slds-c-button-text-color: #1c1c1c;
  --slds-c-button-text-color-hover: #1c1c1c;
  --slds-c-button-text-color-active: #1c1c1c;
  --slds-c-button-shadow-focus: 0px 0px 0px;

  --slds-c-button-spacing-block-end: 3px;
  --slds-c-button-spacing-block-start: 3px;

  min-width: 230px;
}

.list-button-selected {
  --slds-c-button-color-border: #1c1c1c;
  --slds-c-button-color-border-active: #1c1c1c;
  --slds-c-button-color-border-hover: #1c1c1c;
  --slds-c-button-color-background: #1c1c1c;
  --slds-c-button-color-background-active: #1c1c1c;
  --slds-c-button-color-background-hover: #1c1c1c;
  --slds-c-button-text-color: #ffffff;
  --slds-c-button-text-color-hover: #ffffff;
  --slds-c-button-text-color-active: #ffffff;
  --slds-c-button-shadow-focus: 0px 0px 0px;

  --slds-c-button-spacing-block-end: 3px;
  --slds-c-button-spacing-block-start: 3px;

  min-width: 230px;
}

lightning-icon {
  --slds-c-icon-color-foreground: #1c1c1c;
  --slds-c-icon-color-foreground-default: #1c1c1c;
}
