lightning-button-menu {
	--slds-c-button-color-border: black;
	--slds-c-button-color-border-active: black;
	--slds-c-button-color-border-hover: black;
	--slds-c-button-color-background: white;
	--slds-c-button-color-background-active: white;
	--slds-c-button-color-background-hover: white;
	--slds-c-button-spacing-block-end: 10px;
	--slds-c-button-spacing-block-start: 10px;
	--slds-c-button-spacing-inline-end: 128px;
	--slds-c-button-spacing-inline-start: 128px;
	--slds-c-button-text-color: black;
	--slds-c-button-text-color-hover: black;
	--slds-c-button-text-color-active: black;
	--slds-c-button-shadow-focus: 0px 0px 3px black;
}

lightning-button {
	--slds-c-button-brand-color-border: black;
	--slds-c-button-brand-color-border-active: black;
	--slds-c-button-brand-color-border-hover: black;
	--slds-c-button-brand-color-background: white;
	--slds-c-button-brand-color-background-active: white;
	--slds-c-button-brand-color-background-hover: white;
	--slds-c-button-brand-spacing-block-end: 5px;
	--slds-c-button-brand-spacing-block-start: 5px;
	--slds-c-button-brand-spacing-inline-end: 128px;
	--slds-c-button-brand-spacing-inline-start: 128px;
	--slds-c-button-brand-text-color: black;
	--slds-c-button-brand-text-color-hover: black;
	--slds-c-button-brand-text-color-active: black;
	--slds-c-button-brand-shadow-focus: 0px 0px 3px black;
}
