.dropdown-button {
	--slds-c-button-brand-color-border: black;
	--slds-c-button-brand-color-border-active: black;
	--slds-c-button-brand-color-border-hover: black;
	--slds-c-button-brand-color-background: white;
	--slds-c-button-brand-color-background-active: white;
	--slds-c-button-brand-color-background-hover: white;
	--slds-c-button-spacing-block-end: 10px;
	--slds-c-button-spacing-block-start: 10px;
	--slds-c-button-brand-spacing-inline-end: 112px;
	--slds-c-button-brand-spacing-inline-start: 112px;
	--slds-c-button-brand-text-color: black;
	--slds-c-button-brand-text-color-hover: black;
	--slds-c-button-brand-text-color-active: black;
	--slds-c-button-shadow-focus: 0px 0px 3px black;
}

.list-button {
	--slds-c-button-color-border: #f4f4f4;
	--slds-c-button-color-border-active: #f4f4f4;
	--slds-c-button-color-border-hover: #f4f4f4;
	--slds-c-button-color-background: #f4f4f4;
	--slds-c-button-color-background-active: #f4f4f4;
	--slds-c-button-color-background-hover: #f4f4f4;
	--slds-c-button-text-color: black;
	--slds-c-button-text-color-hover: black;
	--slds-c-button-text-color-active: black;
	--slds-c-button-shadow-focus: 0px 0px 3px #f4f4f4;

	--slds-c-button-spacing-block-end: 3px;
	--slds-c-button-spacing-block-start: 3px;

	min-width: 230px;
}

.list-button-selected {
	--slds-c-button-color-border: #1c1c1c;
	--slds-c-button-color-border-active: #1c1c1c;
	--slds-c-button-color-border-hover: #1c1c1c;
	--slds-c-button-color-background: #1c1c1c;
	--slds-c-button-color-background-active: #1c1c1c;
	--slds-c-button-color-background-hover: ##1c1c1c;
	--slds-c-button-text-color: white;
	--slds-c-button-text-color-hover: white;
	--slds-c-button-text-color-active: white;
	--slds-c-button-shadow-focus: 0px 0px 3px #1c1c1c;

	--slds-c-button-spacing-block-end: 3px;
	--slds-c-button-spacing-block-start: 3px;

	min-width: 230px;
}



