button {
  --slds-c-button-brand-color-background: #444054;
  --slds-c-button-brand-color-background-active: #444054;
  --slds-c-button-brand-color-background-hover: #444054;
  --slds-c-button-brand-color-border-background: #444054;
  --slds-c-button-brand-color-border-background-active: #444054;
  --slds-c-button-brand-color-border-background-hover: #444054;
  --slds-c-button-shadow-focus: 0 0 0px;
  --slds-c-button-sizing-border: 0px;
  --slds-c-button-spacing-block-start: 10px;
  --slds-c-button-spacing-block-end: 10px;
  --slds-c-button-brand-spacing-inline-start: 146px;
  --slds-c-button-brand-spacing-inline-end: 146px;
  font-family: Proxima_Nova_Regular;
  font-size: 14px;
  line-height: 18pt;
}


@font-face {
  font-family: "Proxima_Nova_Regular";
  src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Regular.otf") format("TrueType");
}