.edit-button {
  --slds-c-button-brand-color-background: #ffffff;
  --slds-c-button-brand-color-background-active: #1c1c1c;
  --slds-c-button-brand-color-background-hover: #1c1c1c;
  --slds-c-button-shadow: 0px 0px 0px;
  --slds-c-button-shadow-focus: 0px 0px 0px;
  --slds-c-button-brand-text-color: #1c1c1c;
  --slds-c-button-brand-text-color-active: #ffffff;
  --slds-c-button-brand-text-color-hover: #ffffff;
  --slds-c-button-brand-color-border: #1c1c1c;
  --slds-c-button-brand-color-border-active: #1c1c1c;
  --slds-c-button-brand-color-border-hover: #1c1c1c;
  --slds-c-button-brand-spacing-inline-end: 45px;
  --slds-c-button-brand-spacing-inline-start: 45px;
  --slds-c-button-spacing-block-start: 5px;
  --slds-c-button-spacing-block-end: 5px;
}

.dropdown-main {
  transition: all 0.5s ease-out;
}
