.edit-button {
  --slds-c-button-brand-color-background: #ffffff;
  --slds-c-button-brand-color-background-active: #ffffff;
  --slds-c-button-brand-color-background-hover: #ffffff;
  --slds-c-button-shadow: #1c1c1c;
  --slds-c-button-shadow-focus: 0px 0px 0px;
  --slds-c-button-brand-text-color: #1c1c1c;
  --slds-c-button-brand-text-color-active: #1c1c1c;
  --slds-c-button-brand-text-color-hover: #1c1c1c;
  --slds-c-button-brand-color-border: #1c1c1c;
  --slds-c-button-brand-color-border-active: #1c1c1c;
  --slds-c-button-brand-color-border-hover: #1c1c1c;
  --slds-c-button-brand-spacing-inline-end: 45px;
  --slds-c-button-brand-spacing-inline-start: 45px;
  --slds-c-button-spacing-block-start: 5px;
  --slds-c-button-spacing-block-end: 5px;
}
/* 
.dropdown-main {
  min-width: 960px;
} */

.dropdown-open {
  display: block !important;
}

.dropdown-closed {
  display: none !important;
}
