.edit-button {
  --slds-c-button-brand-color-background: white;
  --slds-c-button-brand-color-background-active: white;
  --slds-c-button-brand-color-background-hover: white;
  --slds-c-button-shadow: black;
  --slds-c-button-shadow-focus: 0px 0px 3px black;
  --slds-c-button-brand-text-color: black;
  --slds-c-button-brand-text-color-active: black;
  --slds-c-button-brand-text-color-hover: black;
  --slds-c-button-brand-color-border: black;
  --slds-c-button-brand-color-border-active: black;
  --slds-c-button-brand-color-border-hover: black;
  --slds-c-button-brand-spacing-inline-end: 45px;
  --slds-c-button-brand-spacing-inline-start: 45px;
  --slds-c-button-spacing-block-start: 5px;
  --slds-c-button-spacing-block-end: 5px;
}

/* .dropdown-main {
  min-width: 960px;
} */

.dropdown-open {
  display: block !important;
}

.dropdown-closed {
  display: none !important;
}
