select {
	width: 432px;
	height: 54px;
	border-radius: 4px;
	fill: solid #FFFFFF;
	border: solid gray;
	border-width: 1px;
	padding-left: 20px;
	display: block;
}

option {
	margin-left: 20px;
}

input:focus, input:active {
	outline: none !important;
    border: 1px solid black;
    box-shadow: none;
}

label {
	display: block;
	font-size: 15px;
	font-weight: 500;
}

div {
	display: inline;
}