.slds-button {
	--slds-c-button-color-background: #444054;
	--slds-c-button-color-background-hover: #444054;
	--slds-c-button-spacing-block-start: 10px;
	--slds-c-button-spacing-block-end: 10px;
	--slds-c-button-spacing-inline-start: 160px;
	--slds-c-button-spacing-inline-end: 160px;
}

.button-label {
	color: white;
	font-size: 16px;
	font-weight: 600;
}

