.panel {
  background-color: #444054;
  color: #ffffff;
}

.panel-body {
  min-height: 200px;
}

lightning-icon {
  --slds-c-icon-color-foreground: #ffffff;
  --slds-c-icon-color-foreground-default: #ffffff;
}
