input {
  min-height: 52px;
  width: 142px;
  --slds-c-input-color-border: #d2d2d2;
  --slds-c-input-color-border-focus: #1c1c1c;
  --slds-c-input-color-background: #ffffff;
  --slds-c-input-color-background-focus: #ffffff;
  --slds-c-input-shadow-focus: 0px 0px 0px;
}
