input {
	min-height: 52px;
	width: 320px;
	--slds-c-input-color-border: black;
	--slds-c-input-color-border-focus: black;
	--slds-c-input-color-background: white;
	--slds-c-input-color-background-focus: white;
	--slds-c-input-shadow-focus: 0px 0px 3px black;
}