input {
  min-height: 52px;
  width: 320px;
  --slds-c-input-color-border: #f4f4f4;
  --slds-c-input-color-border-focus: black;
  --slds-c-input-color-background: #FFFFF;
  --slds-c-input-color-background-focus: #FFFFF;
  --slds-c-input-shadow-focus: 0px 0px 0px;
}
