.span-bold {
  font-weight: 700;
}

.span-normal {
  font-weight: 600;
}

.miles-col {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Proxima_Nova_Regular;
  font-size: 12px;
}

.review-button {
  --slds-c-button-radius-border: 100%;
  --slds-c-button-spacing-block-start: 0px;
  --slds-c-button-spacing-block-end: 0px;
  --slds-c-button-spacing-inline-start: 5px;
  --slds-c-button-spacing-inline-end: 5px;
  --slds-c-button-color-background: #ffffff;
  --slds-c-button-color-background-active: #ffffff;
  --slds-c-button-color-background-hover: #ffffff;
  --slds-c-button-color-border: #d2d2d2;
  --slds-c-button-color-border-active: #1c1c1c;
  --slds-c-button-color-border-hover: #1c1c1c;
  --slds-c-button-text-color: #1c1c1c;
  --slds-c-button-text-color-active: #1c1c1c;
  --slds-c-button-text-color-hover: #1c1c1c;
  --slds-c-button-shadow-focus: 0 0 0px;
  max-height: 15px;
}

.img-wide {
  min-height: 180px;
}

.img-skinny {
  max-height: 120px;
  min-width: 340px;
}

.orange-button {
  --slds-c-button-color-background: #ffffff;
  --slds-c-button-color-background-active: #ffffff;
  --slds-c-button-color-background-hover: #ffffff;
  --slds-c-button-color-border: #ffffff;
  --slds-c-button-color-border-active: #ffffff;
  --slds-c-button-color-border-hover: #ffffff;
  --slds-c-button-text-color: #b84c16;
  --slds-c-button-text-color-active: #b84c16;
  --slds-c-button-text-color-hover: #b84c16;
  --slds-c-button-shadow-focus: 0 0 0px;
  --slds-c-button-sizing-border: 0px;
  font-family: Proxima_Nova_Regular;
  font-size: 12px;
  font-weight: 10;
}

.view-rates-button {
  --slds-c-button-brand-color-background: #444054;
  --slds-c-button-brand-color-background-active: #444054;
  --slds-c-button-brand-color-background-hover: #444054;
  --slds-c-button-brand-color-border-background: #444054;
  --slds-c-button-brand-color-border-background-active: #444054;
  --slds-c-button-brand-color-border-background-hover: #444054;
  --slds-c-button-shadow-focus: 0 0 0px;
  --slds-c-button-sizing-border: 0px;
  --slds-c-button-spacing-block-start: 7px;
  --slds-c-button-spacing-block-end: 7px;
  --slds-c-button-brand-spacing-inline-start: 40px;
  --slds-c-button-brand-spacing-inline-end: 40px;
  font-family: Swiss_Bold;
  font-size: 16px;
}

@font-face {
  font-family: "Swiss_Bold";
  src: url("/resource/Swiss/_MI_Swiss721BT-BoldCondensed.otf") format("TrueType");
}

@font-face {
  font-family: "Swiss_Regular";
  src: url("/resource/Swiss/_MI_Swiss721BT-BlackCondensed.otf") format("TrueType");
}

@font-face {
  font-family: "Proxima_Nova_Bold";
  src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Bold.otf") format("TrueType");
}

@font-face {
  font-family: "Proxima_Nova_Regular";
  src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Regular.otf") format("TrueType");
}

.display {
  font-family: Swiss_Bold;
  font-size: 55px;
  line-height: 66px;
}
.H1 {
  font-family: Swiss_Bold;
  font-size: 44px;
  line-height: 44px;
}

.H2 {
  font-family: Swiss_Bold;
  font-size: 32px;
  line-height: 32px;
}

.H3 {
  font-family: Proxima_Nova_Bold;
  font-size: 26px;
  line-height: 26px;
}

.H4 {
  font-family: Proxima_Nova_Bold;
  font-size: 20px;
  line-height: 24px;
}

.body {
  font-family: Proxima_Nova_Regular;
  font-size: 16px;
  line-height: 24px;
}

.bold-small-body{
  font-family: Proxima_Nova_Bold;
  font-size: 12px;
}
.small-body {
  font-family: Proxima_Nova_Regular;
  font-size: 12px;
  font-weight: 10;
}