lightning-button {
    --slds-c-button-text-color: #b84c16;
    --slds-c-button-text-color-active: #b84c16;
    --slds-c-button-text-color-hover: #b84c16; 
    font-family: Proxima_Nova_Regular;
    font-size: 12px;
}

.slds-modal__container {
    max-width: 50rem !important;
    width: 50% !important;
}

input {
    min-height: 52px;
    width: 400px;
    --slds-c-input-color-border: #d2d2d2;
    --slds-c-input-color-border-focus: #1c1c1c;
    --slds-c-input-color-background: #ffffff;
    --slds-c-input-color-background-focus: #ffffff;
    --slds-c-input-shadow-focus: 0px 0px 0px;
}

button {
    --slds-c-button-brand-color-background: #444054;
    --slds-c-button-brand-color-background-active: #444054;
    --slds-c-button-brand-color-background-hover: #444054;
    --slds-c-button-brand-color-border-background: #444054;
    --slds-c-button-brand-color-border-background-active: #444054;
    --slds-c-button-brand-color-border-background-hover: #444054;
    --slds-c-button-shadow-focus: 0 0 0px;
    --slds-c-button-sizing-border: 0px;
    --slds-c-button-spacing-block-start: 10px;
    --slds-c-button-spacing-block-end: 10px;
    --slds-c-button-brand-spacing-inline-start: 60px;
    --slds-c-button-brand-spacing-inline-end: 60px;
    font-family: Swiss_Bold;
    font-size: 14px;
  }

.gray-layout {
background-color: #f4f4f4;
}

@font-face {
    font-family: "Swiss_Bold";
    src: url("/resource/Swiss/_MI_Swiss721BT-BoldCondensed.otf") format("TrueType");
  }
  
  @font-face {
    font-family: "Swiss_Regular";
    src: url("/resource/Swiss/_MI_Swiss721BT-Regular.otf") format("TrueType");
  }
  
  @font-face {
    font-family: "Proxima_Nova_Bold";
    src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Bold.otf") format("TrueType");
  }
  
  @font-face {
    font-family: "Proxima_Nova_Regular";
    src: url("/resource/Proxima_Nova/_MI_Proxima-Nova-Regular.otf") format("TrueType");
  }
  
  .display {
    font-family: Swiss_Bold;
    font-size: 55px;
    line-height: 66px;
  }
  .H1 {
    font-family: Swiss_Bold;
    font-size: 44px;
    line-height: 44px;
  }
  
  .H2 {
    font-family: Swiss_Bold;
    font-size: 32px;
    line-height: 32px;
  }
  
  .H3 {
    font-family: Proxima_Nova_Bold;
    font-size: 26px;
    line-height: 26px;
  }
  
  .H4 {
    font-family: Proxima_Nova_Bold;
    font-size: 20px;
    line-height: 24px;
  }
  
  .body {
    font-family: Proxima_Nova_Regular;
    font-size: 16px;
    line-height: 24px;
  }

  .bold-body {
    font-family: Proxima_Nova_Bold;
    font-size: 16px;
    line-height: 24px;
  }

  
  .bold-small-body{
    font-family: Proxima_Nova_Bold;
    font-size: 12px;
  }
  .small-body {
    font-family: Proxima_Nova_Regular;
    font-size: 12px;
    font-weight: 10;
  }
  