lightning-button {
    --slds-c-button-text-color: #b84c16;
    --slds-c-button-text-color-active: #b84c16;
    --slds-c-button-text-color-hover: #b84c16;    
}

@font-face {
    font-family: "Swiss";
    src: url("/resource/Swiss/Swiss.ttf") format("TrueType");
}

@font-face {
    font-family: "Proxima_Nova_Bold";
    src: url("/resource/Proxima_Nova_Bold/proximanova-bold.otf") format("TrueType");
}

@font-face {
    font-family: "Proxima_Nova_Regular";
    src: url("/resource/Proxima_Nova_Reg/proximanova-regular.otf") format("TrueType");
}

.H1 {
    font-family: Swiss;
    font-size: xx-large;
}

.H2 {
    font-family: Swiss;
    font-size: large;
}

.H3 {
    font-family: Proxima_Nova_Bold;
    font-size: medium;
}

.body {
    font-family: Proxima_Nova_Regular;
    font-size: medium;
}
  