.dropdown-button {
  --slds-c-button-brand-color-border: #d2d2d2;
  --slds-c-button-brand-color-border-active: #1c1c1c;
  --slds-c-button-brand-color-border-hover: #1c1c1c;
  --slds-c-button-brand-color-background: #ffffff;
  --slds-c-button-brand-color-background-active: #ffffff;
  --slds-c-button-brand-color-background-hover: #ffffff;
  --slds-c-button-spacing-block-end: 10px;
  --slds-c-button-spacing-block-start: 10px;
  --slds-c-button-brand-spacing-inline-end: 99px;
  --slds-c-button-brand-spacing-inline-start: 99px;
  --slds-c-button-brand-text-color: black;
  --slds-c-button-brand-text-color-hover: black;
  --slds-c-button-brand-text-color-active: black;
  --slds-c-button-shadow-focus: 0px 0px 0px;
}

input {
  --slds-c-input-color-border: transparent;
  --slds-c-input-color-border-focus: #1c1c1c;
  --slds-c-input-color-background: #ffffff;
  --slds-c-input-color-background-focus: #ffffff;
  --slds-c-input-shadow-focus: 0px 0px 0px;
}

lightning-button-icon {
  --slds-c-button-spacing-block-end: 7px;
  --slds-c-button-spacing-block-start: 7px;
  --slds-c-button-spacing-inline-end: 7px;
  --slds-c-button-spacing-inline-start: 7px;
  --slds-c-button-color-background: #ffffff;
  --slds-c-button-color-background-active: #ffffff;
  --slds-c-button-color-background-hover: #ffffff;
  --slds-c-button-text-color: #1c1c1c;
  --slds-c-button-text-color-hover: #1c1c1c;
  --slds-c-button-text-color-active: #1c1c1c;
  --slds-c-button-shadow-focus: 0px 0px 0px;
}

.gray-layout {
  background-color: #f4f4f4;
}

.dropdown {
  min-height: 200px;
}

.done-button {
  --slds-c-button-brand-color-background: #ffffff;
  --slds-c-button-brand-color-background-active: #ffffff;
  --slds-c-button-brand-color-background-hover: #ffffff;
  --slds-c-button-shadow: 0px 0px 0px;
  --slds-c-button-shadow-focus: 0px 0px 0px;
  --slds-c-button-brand-text-color: #1c1c1c;
  --slds-c-button-brand-text-color-active: #1c1c1c;
  --slds-c-button-brand-text-color-hover: #1c1c1c;
  --slds-c-button-brand-color-border: #1c1c1c;
  --slds-c-button-brand-color-border-active: #1c1c1c;
  --slds-c-button-brand-color-border-hover: #1c1c1c;
  --slds-c-button-brand-spacing-inline-end: 30px;
  --slds-c-button-brand-spacing-inline-start: 30px;
  --slds-c-button-spacing-block-start: 3px;
  --slds-c-button-spacing-block-end: 3px;
  font-family: Swiss;
  font-size: medium;
}

.reset-button {
  --slds-c-button-text-color: #1c1c1c;
  --slds-c-button-text-color-active: #1c1c1c;
  --slds-c-button-text-color-hover: #1c1c1c;
  --slds-c-button-shadow: 0px 0px 0px;
  --slds-c-button-shadow-focus: 0px 0px 0px;
  font-family: Swiss;
  font-size: small;
}

@font-face {
  font-family: "Swiss";
  src: url("/resource/Swiss/Swiss.ttf") format("TrueType");
}
