.dropdown-button {
	--slds-c-button-brand-color-border: black;
	--slds-c-button-brand-color-border-active: black;
	--slds-c-button-brand-color-border-hover: black;
	--slds-c-button-brand-color-background: white;
	--slds-c-button-brand-color-background-active: white;
	--slds-c-button-brand-color-background-hover: white;
	--slds-c-button-spacing-block-end: 10px;
	--slds-c-button-spacing-block-start: 10px;
	--slds-c-button-brand-spacing-inline-end: 99px;
	--slds-c-button-brand-spacing-inline-start: 99px;
	--slds-c-button-brand-text-color: black;
	--slds-c-button-brand-text-color-hover: black;
	--slds-c-button-brand-text-color-active: black;
	--slds-c-button-brand-shadow-focus: 0px 0px 3px black;
}

lightning-input {
	--slds-c-input-color-border: black;
	--slds-c-input-color-border-focus: black;
	--slds-c-input-color-background: white;
	--slds-c-input-color-background-focus: white;
	--slds-c-input-shadow-focus: 0px 0px 3px black;
}

lightning-layout {
	--slds-c-button-spacing-block-end: 0px;
	--slds-c-button-spacing-block-start: 0px;
	--slds-c-button-spacing-inline-end: 0px;
	--slds-c-button-spacing-inline-start: 0px;
	--slds-c-button-color-border: black;
	--slds-c-button-color-border-active: black;
	--slds-c-button-color-border-hover: black;
	--slds-c-button-color-background: white;
	--slds-c-button-color-background-active: white;
	--slds-c-button-color-background-hover: white;
	--slds-c-button-text-color: black;
	--slds-c-button-text-color-hover: black;
	--slds-c-button-text-color-active: black;
	--slds-c-button-shadow-focus: 0px 0px 3px black;
}