lightning-tabset {
  --slds-c-tabs-item-color-border-active: #1c1c1c;
  --slds-c-tabs-item-color-border-hover: #1c1c1c;
  --slds-c-tabs-item-text-color: #b84c16;
  --slds-c-tabs-item-text-color-active: #b84c16;
  --slds-c-tabs-item-text-color-hover: #b84c16;
}

@font-face {
  font-family: "Swiss";
  src: url("/resource/Swiss/Swiss.ttf") format("TrueType");
}

.new-res {
  font-family: Swiss;
  font-size: xx-large;
}
